<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-filmotheque( 
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}">
<head>
	<!-- Contextes comme titre de page -->
	<title>Contextes</title>
	<!-- Ajout de CSS tp-contexte.css -->
	<th:block id="ressources-css">
		<link rel="stylesheet" data-th-href="@{/css/tp-contexte.css}">
	</th:block>
</head>
<body>
	<main>
		<h1>Contextes</h1>
		<th:block data-th-if="${membreEnSession == null || membreEnSession.id == 0}">
			<a href="/contexte/session?email=jtrillard@campus-eni.fr">Julien</a> 
			<a href="/contexte/session?email=abaille@campus-eni.fr">Anne-Lise</a> 
			<a href="/contexte/session?email=sgobin@campus-eni.fr">Stéphane[Admin]</a>
		</th:block>
		<a href="/contexte/cloture">Déconnexion</a>
	</main>
</body></html>
