<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-filmotheque( 
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}">

<head>
<!-- Films comme titre de page -->
<title>Films</title>
<!-- Ajout de CSS tp-table.css -->
<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/tp-table.css}">
</th:block>

</head>
<body>
	<main>
		<h1>Les films de l'ENI</h1>
		<table>
			<!-- build html table based on users -->
			<thead>
				<tr>
					<th>Genre</th>
					<th>Année</th>
					<th>Titre</th>
					<th>Réalisateur</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="film : ${films}">
					<td data-th-text="${film.genre.titre}"></td>
					<td data-th-text="${film.annee}"></td>
					<td data-th-text="${film.titre}"></td>
					<td
						data-th-text="${film.realisateur.prenom} + ' ' + ${film.realisateur.nom}"></td>
					<td>
						<a data-th-href="@{/films/detail(id=${film.id})}">Détail</a>
						<a data-th-if="${membreEnSession != null && membreEnSession.id > 0}" data-th-href="@{/avis/creer(idFilm=${film.id})}">Avis</a>
					</td>
				</tr>
			</tbody>
		</table>
	</main>

</body>
</html>
