<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-filmotheque(
						titrePage=~{:: title},
						contenuPage=~{:: main},
						ressourcesSupp=~{:: #ressources-css})}">
    <head>
        <!-- Créer comme titre de page -->
        <title data-th-text="${'Publication avis sur le film : ' + film.titre}"></title>
        <!-- Ajout de CSS tp-form.css -->
        <th:block id="ressources-css">
            <link rel="stylesheet" data-th-href="@{/css/tp-form.css}">
        </th:block>
    </head>
    <body>
        <main>
            <form data-th-object="${avis}" data-th-action="@{/avis/creer(idFilm=${film.id})}" method="post">
                <h1 data-th-text="${'Ajouter un avis au film : ' + film.titre}"></h1>
                <ul class="flex-outer">
                    <li>
                        <label for="note">Genre : </label>
                        <input id="note" type="number" min="1" max="5" data-th-field="*{note}" required>
                    </li>
                    <li>
                        <label for="commentaire">Commentaire :</label>
                        <textarea id="commentaire" data-th-field="*{commentaire}" rows="3" maxlength="250" required></textarea>
                    </li>
                    <li>
                        <button type="submit">Valider</button>
                    </li>
                </ul>
            </form>
        </main>
    </body>
</html>