<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		data-th-replace="~{layouts/layout :: layout-filmotheque( 
						titrePage=~{:: title},
						contenuPage=~{:: main},
						ressourcesSupp=~{:: #ressources-css})}">
<head>
	<!-- Créer comme titre de page -->
	<title>Créer</title>
	<!-- Ajout de CSS tp-form.css -->
	<th:block id="ressources-css">
		<link rel="stylesheet" data-th-href="@{/css/tp-form.css}">
	</th:block>
</head>
<body>
	<main>
		<form data-th-replace="~{fragments/fragment-film-form :: frag-film-form('Création d\'un nouveau film', '/films/creer')}"></form>
	</main>
</body>
</html>
